<div class="d-flex justify-content-end gap-2 mb-5 mb-md-2">
  <a href="https://www.facebook.com/groups/icctprogrammers" class="btn btn-sm btn-outline-light"><i class='bx bx-group me-2'></i>ICCT Programmers</a>
</div>

<h1>Ryan Libron</h1>
<div class="d-flex align-items-center gap-2 mb-5">
  <a href="https://www.facebook.com/lbrnryn" class="d-flex align-items-center text-decoration-none text-white small"><i class='bx bxl-facebook-circle'></i>lbrnryn</a>
  <a href="https://github.com/lbrnryn" class="d-flex align-items-center text-decoration-none text-white small"><i class='bx bxl-github'></i>lbrnryn</a>
  <span class="small d-flex align-items-center"><i class='bx bx-mobile'></i>0919-091-6185</span>
  <span class="small"><i class='bx bxl-gmail'></i>lbrnryn@gmail.com</span>
</div>

<div class="">
  <h3>Projects</h3>

  <ul class="list-group gap-5">
    
    <li class="list-group-item bg-transparent text-white d-flex align-items-center border-0">
      <div>
        <h6>Inventory and Record Management System</h6>
        <p>This is a comprehensive solution that streamlines the management of a taxi company's vehicles, their maintenance schedules, and driver records. The system automates repetitive tasks, improves efficiency, and provides real-time data on the state of the fleet and business operations, thus reducing the workload on staff. With automated billing and other helpful features, this solution can help taxi companies grow their business and enhance their operations.</p>
        <div class="d-flex justify-content-between">
          <div>
            <i class='bx bxl-html5' style="color: orange"></i>
            <i class='bx bxl-css3' style="color: #214ce5"></i>
            <i class='bx bxl-javascript' style="color: yellow"></i>
            <i class='bx bxl-nodejs' style="color: green"></i>
            <i class='bx bxl-mongodb' style="color: green"></i>
            <i class='bx bxl-bootstrap' style="color: #6f2bf3"></i>
          </div>
          <div class="d-flex gap-2">
            <a href="#" class="text-white text-decoration-none" title="Visit Page"><i class='bx bx-world'></i></a>
            <a href="https://github.com/lbrnryn/Inventory-System" class="text-white text-decoration-none small" title="View Code">&lt;/&gt;</a>
          </div>
        </div>
      </div>
      <img src="images/undraw-report-1.png" class="d-none d-lg-block" style="width: 300px; height: 250px;">
    </li>

    <li class="list-group-item bg-transparent text-white d-flex align-items-center border-0">
      <img src="images/undraw-education-1.png" class="d-none d-lg-block" style="width: 300px; height: 250px;">
      <div>
        <h6>Learning Management System</h6>
        <p>This is a cutting-edge solution that provides students and educators with a comprehensive platform for online learning. It is designed to streamline the delivery of computer science curriculum and improve the learning experience for students. The system includes features such as interactive course materials, quizzes and assessments, and a virtual classroom for real-time collaboration and communication. Additionally, it offers analytics and tracking tools for educators to monitor student progress and adapt their teaching methods accordingly. The system also allows for easy integration with existing educational tools and resources, making it a versatile and valuable tool for computer science programs.</p>
        <div class="d-flex justify-content-between">
          <div>
            <i class='bx bxl-html5' style="color: orange"></i>
            <i class='bx bxl-css3' style="color: #214ce5"></i>
            <i class='bx bxl-javascript' style="color: yellow"></i>
            <i class='bx bxl-nodejs' style="color: green"></i>
            <i class='bx bxl-mongodb' style="color: green"></i>
            <i class='bx bxl-bootstrap' style="color: #6f2bf3"></i>
          </div>
          <div class="d-flex gap-2">
            <a href="#" class="text-white text-decoration-none" title="Visit Page"><i class='bx bx-world'></i></a>
            <a href="https://github.com/lbrnryn/Learning-Management-System" class="text-white text-decoration-none small" title="View Code">&lt;/&gt;</a>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item bg-transparent text-white d-flex align-items-center border-0">
      <div class="">
        <h6>ICCT CCS Tech Guild</h6>
        <p>A dynamic website for my school's programming club that enables students to easily reserve seats for live coding tutorials and receive announcements. The website serves as a central hub for the club to promote programming throughout the school community and foster a stronger network of developers. Through the development of the website, I gained valuable experience in web design and development and honed my leadership and organizational skills.</p>
        <div class="d-flex justify-content-between">
          <div>
            <i class='bx bxl-html5' style="color: orange"></i>
            <i class='bx bxl-css3' style="color: #214ce5"></i>
            <i class='bx bxl-javascript' style="color: yellow"></i>
            <i class='bx bxl-nodejs' style="color: green"></i>
            <i class='bx bxl-mongodb' style="color: green"></i>
            <i class='bx bxl-bootstrap' style="color: #6f2bf3"></i>
          </div>
          <div class="d-flex gap-2">
            <a href="https://ccs-icct-tech-guild.onrender.com/" class="text-white text-decoration-none" title="Visit Page"><i class='bx bx-world'></i></a>
            <a href="#" class="text-white text-decoration-none small" title="View Code">&lt;/&gt;</a>
          </div>
        </div>
      </div>
      <img src="images/ccs-logo.png" class="d-none d-lg-block" style="width: 150px;">
    </li>

    {{!-- <li class="list-group-item bg-transparent text-white d-flex align-items-center border-0">
      <div class="">
        <h6>The Block Tech</h6>
        <p>This is a comprehensive and user-friendly platform for learning programming through articles. It is designed for both beginners and experienced programmers who are looking to improve their skills or learn a new language. The app features a wide range of programming articles that are written in an easy-to-understand format and are accompanied by code examples and interactive exercises. The articles cover a variety of topics, from basic concepts to advanced techniques, making the app a valuable resource for anyone looking to learn programming. The app also includes a community feature where users can connect with other learners and share their knowledge, making it a collaborative and engaging learning experience. Whether you're a beginner or an experienced developer, the Programming Tutorial app is a must-have tool for anyone looking to improve their programming skills.</p>
        <div class="d-flex justify-content-between">
          <div>
            <i class='bx bxl-html5' style="color: orange"></i>
            <i class='bx bxl-css3' style="color: #214ce5"></i>
            <i class='bx bxl-javascript' style="color: yellow"></i>
            <i class='bx bxl-nodejs' style="color: green"></i>
            <i class='bx bxl-mongodb' style="color: green"></i>
            <i class='bx bxl-bootstrap' style="color: #6f2bf3"></i>
          </div>
          <div class="d-flex gap-2">
            <a href="/inventory-record" class="text-white text-decoration-none" title="Visit Page"><i class='bx bx-world'></i></a>
            <a href="https://github.com/lbrnryn/invsys" class="text-white text-decoration-none" title="View Code"><small>&lt;/&gt;</small></a>
          </div>
        </div>
      </div>
      <img src="images/undraw-teaching-1.png" class="d-none d-lg-block" style="width: 300px; height: 250px;">
    </li> --}}

  </ul>
</div>

<hr class="border border-white border-5 my-5">

<div>
  <h3 class="mb-5">Achievements</h3>
  
  <ul class="list-group">

    <li class="list-group-item bg-transparent text-white">
      <p class="text-end">March 31, 2023 Friday</p>
      <p>Building a Simple CRUD App with HTML, CSS, and Javascript using Local Storage API (Live Coding Tutorial Event)</p>
      <p>As an officer of the Computer Explorer Society at ICCT Colleges Cainta Main Branch, I organized and led a three-hour coding tutorial event. During this event, I taught students how to develop a simple CRUD (Create, Read, Update, Delete) application using HTML, CSS, and JavaScript, along with Local Storage API. This tutorial allowed students to gain hands-on experience in web development and provided them with valuable skills that they can use in their future careers.</p>
      <div class="d-flex align-items-center overflow-x-auto">
        <img src="images/crud-tutorial-0.jpg" style="width: 8rem; height: 5.4rem;">
        <img src="images/crud-tutorial-8.jpg" style="width: 8rem; height: 5.4rem;">
        <img src="images/crud-tutorial-1.jpg" class="object-fit-cover" style="width: 8rem; height: 5.4rem;">
        <img src="images/crud-tutorial-2.jpg" style="width: 8rem;">
        <img src="images/crud-tutorial-5.jpg" style="width: 8rem;">
        <img src="images/crud-tutorial-3.jpg" style="width: 8rem;">
        <img src="images/crud-tutorial-6.jpg" style="width: 8rem;">
        <img src="images/crud-tutorial-4.jpg" style="width: 8rem;">
        <img src="images/crud-tutorial-7.jpg" style="width: 8rem;">
      </div>
    </li>

  </ul>
</div>
